.h1{
    text-decoration: underline;
}

.info {
    padding: 5px;
    background: rgb(234, 234, 234);
    width: 100%;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 19%);
    margin-bottom: 30px;
}